---
  env:
    browser: true
---
  globals:
    angular: true
---
  rules:
    comma-dangle:
      - 2
      - "never"
    no-dupe-args: 2
    no-dupe-keys: 2
    no-duplicate-case: 2
    no-empty-character-class: 2
    no-empty: 2
    no-ex-assign: 2
    no-extra-boolean-cast: 2
    no-extra-semi: 2
    no-console: 2
    no-constant-condition: 2
    no-debugger: 2
    no-func-assign: 2
    no-inner-declarations: 2
    no-invalid-regexp: 2
    no-irregular-whitespace: 2
    no-negated-in-lhs: 2
    no-obj-calls: 2
    no-regexp-spaces: 2
    no-sparse-arrays: 2
    no-unexpected-multiline: 2
    no-unreachable: 2
    use-isnan: 2
    valid-jsdoc: 2
    valid-typeof: 2
    block-scoped-var: 2
    consistent-return: 2
    curly:
      - 2
      - "multi-line"
    dot-notation: 2
    eqeqeq: 2
    guard-for-in: 2
    no-alert: 2
    no-caller: 2
    no-case-declarations: 2
    no-else-return: 2
    no-eval: 2
    no-extra-bind: 2
    no-fallthrough: 2
    no-floating-decimal: 2
    no-implicit-coercion: 2
    no-implied-eval: 2
    no-iterator: 2
    no-lone-blocks: 2
